@font-face{
  font-family: font1;
  src: url(../assets/fonts/Lobster-Regular.ttf);
}

@font-face{
  font-family: font2;
  src: url(../assets/fonts/SofadiOne-Regular.ttf);
}

@font-face{
  font-family: font3;
  src:url(../assets/fonts/Raleway-Medium.ttf);
  }

.about-section {
    /* background-color: #fff; */
    position: relative;
    display: flex;
    max-width: 100% !important;
    height: 90%;
    justify-content: center;
    align-items: center;
    top: 10%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }

  .prop1{
    width: 6%;
    height: 12%;
    position: absolute;
    right: 14%;
    top: 25%;
    z-index: 99;
    opacity: 1;
  }
  
  .frm2{
    width: 14%;
    height: 40%;
    position: absolute;
    right: -7%;
    bottom: -5%;
    z-index: 99;
    opacity: 1;
  }

.prop2{
  width: 8%;
  height: 26%;
  position: absolute;
  left: -4%;
  bottom: 5%;
  z-index: 99;
  opacity: 0.8;
}



.prop4{
  width: 8%;
  height: 8%;
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 99;
  opacity: 1;

}

.prop5{
  width: 23%;
  height: 8%;
  position: absolute;
  right: -6%;
  bottom: 2%;
  z-index: 99;
  opacity: 0.9;

}

.prop3{
  width: 10%;
  height: 18%;
  position: absolute;
  right: 0%;
  top: 5%;
  z-index: 99;
}

.row-about{
    display: flex;
    max-width: 75%;
    height: 100%;
    align-items: center;
    margin: 0;
    flex-direction: row;
}

@media (max-width: 700px) {
    .row-about{
      flex-direction: column;
      flex-flow: column;
    }
    .vid{
      flex:2;
      height: 50%;
      width:90%;
    }
    .about-content{
      flex:1;
      height:30%;
      max-width: 90%;
      align-content: center;
    }
    .about-content p{
      font-size: 2.8vw !important;
    }
    .row-about h2{
      font-size: 9vw !important;
      left: 1% !important;
      top: 5% !important;

    }
    .web{
      width: 10% !important;
      height: 10% !important;
      bottom: 35% !important;

    }
    
  
}

.vid img {
  width: 70%;
  height: 80%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
  box-shadow: rgba(226, 98, 147, 0.697) 0px 7px 29px 0px;
} 

.frame{
  background: transparent;
  width: 70%;
  height: 80%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-color:#b5677c !important;
  position: absolute;
  z-index: 0;
  border: 4px solid;
  left:18%;
  top:7%;
} 

.row-about h2 {
  background: -webkit-linear-gradient( left, rgb(255, 255, 255), #f7acb7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vw;
  position: absolute;
  top: 5%;
  left: 33%;
  line-height: 0.9;
  font-family: font1;
  font-stretch: extra-expanded;
  z-index: 999;
  width: fit-content;
}

.about-content p {
  font-size: 1.5vw;
  color: #ffffff;
  padding: 0;
  font-family: font3;
  text-align: justify;
  
}

.about-content{
  padding: 0;
  position: relative;
}
  
.vid{
  height: 100%;
  max-width: 100%;
  padding:0;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}


.web{
  width: 10%;
  height: 20%;
  display: inline;
  position: absolute;
  right: 15%;
  bottom: 15%;
}