@font-face{
    font-family: font1;
    src: url(../assets/fonts/Lobster-Regular.ttf);
  }
  
@font-face{
font-family: font2;
src: url(../assets/fonts/SofadiOne-Regular.ttf);
}

@font-face{
    font-family: font3;
    src:url(../assets/fonts/Raleway-Medium.ttf);
    }

.hero-section {
    height: 70%;
    width: 80%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: row;
    top: 20%;
    position: relative;
}

@media (max-width: 700px) {
    .hero-section{
        flex-direction: column;
        flex-flow: column;
        height: 70%;
        width: 70%;

    }
    .content{
        width: 100% !important;
        flex:1;
        
    }
    .image{
        width: 90% !important ;
        flex:2;
    }
    .btn-custom{
        height: 8% !important;
        width: 12% !important;
        font-size: 0.9vw !important;
        padding:0.5% 0;
    }
    .hero-title{
        font-size: 6vw !important;
    }
    .hero-subtitle{
        font-size: 2vw !important;
    }
}

.content{
    padding-left: 7%;
    width: 60% ;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-size: 5vw;
    font-weight: 500;
    width: 90%;
    display:flex;
    flex-direction: row;
    white-space: break-spaces;
    font-family: font1;
    padding: 0;
}

.hero-subtitle {
font-size: 1.2vw;
margin-bottom: 3%;
font-family: font3;
text-align: justify;
width: 80%;

}

.btn-custom {
background-color: transparent;
border-color: #fff;
border-radius: 12px;
color: #ffffff;
font-size: 0.8vw;
transition: background-color 0.3s;
height: 8%;
width: 20%;
}

.btn-custom:hover {
color: #f28ea8;
border-color: #f28ea8;
}

.image{
    display: flex;
    justify-items: center;
    width: 50%;
    height: 100%;
}

.about-section .row{
    position: relative;
}



.image2{
    width: 100%;
    height: 100%;
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: skew(-20deg);

}

@keyframes img{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.name{
    width: 0ch;
    color: #eaadb5;
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    animation: typing 3s steps(11, end) infinite forwards;
}

@keyframes typing {
    0%{width: 0ch;}
    50%{width: 10ch;}
}
