@font-face{
    font-family: font3;
    src:url(../assets/fonts/Raleway-Medium.ttf);
    }
  
    @font-face{
        font-family: font1;
        src: url(../assets/fonts/Lobster-Regular.ttf);
      }
   

.basic-navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 5%;
}
.navbar-custom{
    background-color: transparent !important; 
    border: none; 
    box-shadow: none;
    padding: 1%;
    height: 8%;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 0.8%;
    width: 80%;
    position: fixed;
    left: 10%;
  }

.links{
    width: 45%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
}


.navbar-custom .navbar-brand{
color: #fff ; 
padding-left: 3%;
font-family: font1;
}

.navbar-custom .nav-link {
color: #fff ; 
padding: 0;
padding: 0 !important;
font-family: font3;
padding-bottom:0px;
font-size: 1.2vw;
}


.dark {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.861), #271638da, #a84d76d0); */
    background-color: #171025cf ! important;
}

.active-link {
    border-bottom: 2.5px solid rgb(241, 192, 192);
}
    
.navbar-custom .nav-link:hover {
color: rgb(241, 192, 192); 
}

.navbar-toggler-icon{
   
    background-color: #f19caa;
}

.toggler{
    color: #f19caa;
    border-color: #f19caa;
    background-color: #f19caa;
}
