@font-face {
    font-family: font1;
    src: url(../assets/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(../assets/fonts/SofadiOne-Regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(../assets/fonts/Raleway-Medium.ttf);
}



.skill-name {
    font-family: font3;
}

.main {
    width: 90%;
    height: 75%;
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: row;
}

.circle1{
    position: absolute;
    left:-8%;
    bottom:-10%;
    width: 12%;
    height: 16%;
    opacity: 0.8;
}

.sqr{
    position: absolute;
    left:0%;
    top:7%;
    width: 12%;
    height: 8%;
    opacity: 0.7;
}

.cross2{
    position: absolute;
    right:0;
    bottom:-10%;
    width: 15%;
    height: 10%;
    opacity: 0.7;
}

.circle2{
    position: absolute;
    right:0;
    top:2%;
    width: 2%;
    height: 30%;
    opacity: 0.7;
}

.col2 {
    /* flex-basis: 30%; 
    width: 30%;  */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    left: 6%;
    padding-bottom: 3%;
    flex:1.5;
}

.col1 {
    /* flex-basis: 28%; 
    width: 28% ; */
    height: 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 6%;
    bottom:-5%;
    flex:1;
}

@media (max-width:800px) {
    .row1{
        flex-direction: column;
        flex-flow: column;
        align-items: center;
    }
    .col1{
        flex:1;
        width: 65%;
        top:0;
       
    }
    .col2{
        flex:1;
        width: 85% !important;
        z-index: 10;
    }
    
  .frame1::before{
    right: -3% !important;
    top: 17%;
    height: 83% !important;
    width: 83% !important;

  }
  .title h1{
    top: 50% !important;
    font-size: 7vw !important;
    left: 45%;

  }
}

.row1 {
    width: 100%;
    padding: 0;
    margin: auto;
    height: 100%;

    
}


.title h1 {
    font-size: 5vw;
    text-align: center;
    font-family: font1;
    background: -webkit-linear-gradient(black, #351638, #a84d76);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    position: absolute;
    z-index: 10;
    line-height: 0.9;
    right: 28%;
    top: 5%;
    width: fit-content;

}

.pc{
    height: 80%;
    width: 75%;
    position: absolute;
    bottom:-4%;
    transform: scaleX(-1);
    right: 4%;

}

.frame1 {
    width: 70%;
    height: 100%;
    position: absolute;
    border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
    right: 8%;
    background-color: #eaadb5d7;
    border-color: transparent;
    -webkit-box-shadow: inset 10px 10px 14px 20px rgb(255, 255, 255);
-moz-box-shadow: inset 10px 10px 14px 20px rgba(255,255,255,1);
box-shadow: inset 10px 10px 14px 20px rgba(255,255,255,1);
} 


  .frame1::before{
    content:'';
    background: transparent;
    width: 88%;
    height: 90%;
    border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
    border-color: #231432a3 !important;
    position: absolute;
    z-index: 0;
    border: 4px solid;
    right:-2%;
    bottom: -2%;

  } 

.image3{
    height: 80%;
    width: 75%;
    bottom:4%;
    position: absolute;
    transform: scaleX(-1);
    right:4%;
}

.wind{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -10%;
    animation-name: img1;
    transform: scaleX(-1);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes img1{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 13px); }
    100%   { transform: translate(0, -1px); }    
}